<!-- About -->
<div class="p-6 mb-4 hidden" id="about-card">
	<h1 class="text-4xl text-center">About</h1>
	<p class="text-2xl">Hello!</p>
	<p>I make things. And sometimes, they work.</p>
	<br>
	<p>
		I am most familiar with <span class="text-indigo-600">TypeScript</span> (<span
			class="text-yellow-600">JavaScript</span>),
		mostly on backends.
	</p>
	<br>
	<h2 class="text-xl">I like open source things.</h2>
	<p>Arch Linux is my daily driver OS, and I have some experience using Linux as a server OS too.</p>
</div>