<!-- Home -->
<div class="p-6 mb-4" id="home-card">
	<h1 class="sm:text-4xl text-3xl text-center">EmeraldSnorlax</h1>
	<div class="flex justify-between">
		<h2 class="text-left text-2xl">Rain</h2>
		<p class="text-right text-2xl">they/them</p>
	</div>
	<footer class="mt-4">
		<noscript>
			<p class="text-red-400">Enable JavaScript!</p>
		</noscript>
		<p class="text-center text-grey-500">© EmeraldSnorlax 2021 | GNU AGPL-3.0</p>
		<p class="text-center"><a rel="noopener" href="https://github.com/EmeraldSnorlax/website">Source</a></p>
	</footer>
</div>
