<!-- Projects -->
<div class="p-6 hidden" id="project-card">
	<h1 class="text-4xl text-center">Projects</h1>

	<div class="project-card">
		<div class="flex justify-between">
			<a rel="noopener" class="p-3" href="https://gitlab.com/EmeraldSnorlax/terrafinder" target="_blank">
				<h2 class="text-xl">Terrafinder</h2>
			</a>
			<p class="text-right p-3">A map guessing game</p>
		</div>
		<hr>
		<p class="text-center my-2">JavaScript + Express.js + PureCSS</p>
		<p class="m-4">Guess a location based on the image served.</p>
		<p class="text-grey-400 text-right">GNU AGPL-3.0</p>
	</div>

	<div class="project-card">
		<div class="flex justify-between">
			<a rel="noopener" class="p-3" href="https://github.com/EmeraldSnorlax/bait" target="_blank">
				<h2 class="text-xl">Bait</h2>
			</a>
			<p class="text-right p-3">A URL shortener</p>
		</div>
		<hr>
		<p class="text-center my-2">TypeScript + Express.js + EJS + SQLite</p>
		<p class="m-4">Create a redirect link with a customised social embed.</p>
		<p class="text-grey-400 text-right">GNU AGPL-3.0</p>
	</div>

	<div class="project-card">
		<div class="flex justify-between">
			<a rel="noopener" class="p-3" href="https://github.com/EmeraldSnorlax/website" target="_blank">
				<h2 class="text-xl">This site</h2>
			</a>
			<p class="text-right p-3">A personal site</p>
		</div>
		<hr>
		<p class="text-center my-2">TailwindCSS + TypeScript</p>
		<p class="m-4">My personal site.</p>
		<p class="text-grey-400 text-right">GNU AGPL-3.0</p>
	</div>

</div>