:root {
	--dark: #212121;
	--white: #f4f4f4;
	--button-bg: #353535;
}

html {
	background: linear-gradient(45deg, #feac5e, #c779d0, #4bc0c8);
	background-size: 600% 600%;
	animation: gradientBackground 30s ease infinite;
	height: 100vh;
	max-width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}

body {
	opacity: 1;
	max-width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}

@keyframes gradientBackground {
	0% { background-position: 100% 0% }
	50% { background-position: 0% 100% }
	100% { background-position: 100% 0% }
}

@keyframes flyInFromLeft {
	0% { transform: translateX(-70%); opacity: 0; }
	30% {opacity: 0; }
	100% { transform: translateX(0%); opacity: 1;}
}

@keyframes flyInFromRight {
	0% { transform: translateX(130%); opacity: 0;}
	50% {opacity: 0; }
	100% { transform: translateX(0%); opacity: 1}
}


.flyInFromLeft {
	animation: flyInFromLeft 1s ease;
}

.flyInFromRight {
	animation: flyInFromRight 1s ease;
}

#header > * > h1 {
	padding: 0.5em;
	font-size: 95%;
}

#header {
	padding-top: 3vh;
	padding-bottom: 3vh;
}


/* utils */

.sans-serif {
	font-family: 'Inter', sans-serif;
}

.white {
	color: var(--white);
}

.center {
	text-align: center;
}

.dark-bg {
	background-color: var(--dark);
}

.rounded {
	border-radius: 500px;
}

.flexbox {
	display: flex;
	justify-content: center;
	align-content: center;
	width: 100%;
}