@font-face {
	font-family: 'Roboto Mono', monospace;
	src: url(./fonts/RobotoMono.ttf) format('truetype');
}

@font-face {
	font-family: 'Roboto Mono', monospace;
	src: url('./fonts/RobotoMono-Italic.ttf') format('truetype');
	font-style: italic;
}

.monospace {
	font-family: 'Roboto Mono', monospace;
}

.monospace-i {
	font-family: 'Roboto Mono', monospace;
	font-style: italic;
}

#terminal-container {
	padding: 1em;
	scrollbar-color: var(--cyan) var(--grey);
	scrollbar-width: thin;
}

#terminal::-webkit-scrollbar-track {
	display: none;
}

.rounded-sm {
	border-radius: 5px;
}

#terminal {
	height: 65vh;
	overflow-y: auto;
}

/* colours */

:root {
	--red: #bf616a;
	--orange: #d08770;
	--yellow: #ebcb8b;
	--green: #a3be8c;
	--purple: #b48ead;
	--cyan: #88c0d0;
	--grey: #4c566a;
}

.red {
	color: var(--red);
}

.orange {
	color: var(--orange);
}

.yellow {
	color: var(--yellow);
}

.green {
	color: var(--green);
}

.purple {
	color: var(--purple);
}

.cyan {
	color: var(--cyan);
}

.grey {
	color: var(--grey);
}

a {
	color: var(--purple);
	text-decoration: underline;
}

li {
	list-style-type: none;
 }
