@font-face {
	font-family: 'Roboto Mono', monospace;
	src: url(./fonts/RobotoMono.ttf) format('truetype');
}

@font-face {
	font-family: 'Roboto Mono', monospace;
	src: url('./fonts/RobotoMono-Italic.ttf') format('truetype');
	font-style: italic;
}

@keyframes flyInFromBottom {
	0% { transform: translateY(600%); }
	75% { transform: translateY(600%); opacity: 0; }
	100% { transform: translateY(0%); opacity: 1; }
}

@keyframes flyInFromTop {
	0% { transform: translateY(-600%); }
	75% { transform: translateY(-600%); opacity: 0; }
	100% { transform: translateY(0%); opacity: 1; }
}

@keyframes flyInFromLeftDelay {
	0% { transform: translateX(-33%); }
	75% { transform: translateX(-33%); opacity: 0; }
	100% { transform: translateY(0%); opacity: 1; }
}


.monospace {
	font-family: 'Roboto Mono', monospace;
}

.monospace-i {
	font-family: 'Roboto Mono', monospace;
	font-style: italic;
}

#terminal-container {
	padding: 1em;
	scrollbar-color: var(--cyan) var(--grey);
	scrollbar-width: thin;
}

#terminal::-webkit-scrollbar-track {
	display: none;
}

.rounded-sm {
	border-radius: 5px;
}

#terminal {
	height: 60vh;
	overflow-y: auto;
}

/* colours */

:root {
	--red: #bf616a;
	--orange: #d08770;
	--yellow: #ebcb8b;
	--green: #a3be8c;
	--purple: #b48ead;
	--cyan: #88c0d0;
	--grey: #4c566a;
}

.red {
	color: var(--red);
}

.orange {
	color: var(--orange);
}

.yellow {
	color: var(--yellow);
}

.green {
	color: var(--green);
}

.purple {
	color: var(--purple);
}

.cyan {
	color: var(--cyan);
}

.grey {
	color: var(--grey);
}

a {
	color: var(--purple);
	text-decoration: underline;
}

li {
	list-style-type: none;
 }

 #prompt, #prompt:focus {
	width: 97%;
	border-style: none;
	margin-left: 1em;
	outline: none;
 }

#prompt:focus {
	border-bottom-style: solid;
	border-color: var(--cyan);
}

#send {		
	border-style: none;
	font-size: 100%;
	background-color: var(--green);
	color: var(--dark);
}

.suggestion {
	border-style: none;
	padding: 0.3em;
	border-radius: 5px;
	background-color: var(--grey);
	width: 100%;
	margin: 0.5em 1vw;
	animation: flyInFromLeftDelay 2s ease;
}

.suggestion:focus {
	border-style: solid;
	border-color: var(--green);
}


#prompt-container {
	margin-top: 1em;
	animation: flyInFromBottom 1.5s ease;

}