@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,600;0,800;1,400&display=swap');
* { font-family: Inter, Roboto, Oxygen, Cantarell, 'Lucida Sans Unicode', 'Lucida Sans', 'Segoe UI', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif }

h1 {
  font-weight: 800;

}

h2 {
  font-weight: 600;
}

h1, h2 {
  font-family: 'Raleway', sans-serif;
  font-size: xxx-large;
}

button {
  cursor: pointer;
}